.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 8px 0px #625353;
    height: 100px;
    border-radius: 10px;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title{
        font-weight: bold;
        font-size: 14px;
        color: rgb(160,160,160);
    }

    .counter{
        font-size: 28px;
        font-weight: 300;
    }

    .link{
        font-size: 12px;
        border-bottom: 1px solid gray;
        width: max-content;
    }

    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;

        &.positive{
            color: green;
        }
        &.negative{
            color: red;
        }
    }
    .icon{
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
    }
}