.sidebar{
    flex: 1;
    border: 0.01rem solid lightgray;
    min-height: 100vh;
    background: white;
    .top{
        height: 3.1rem;
        display: grid;
        place-items:  center;
        background: #0083a8;
        .logo{
            font-size: 1rem;
            font-weight: bold;
            color: white;
        }
    }
    hr{
        height: 0;
    }
    .center{
        padding-left: 1rem;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            .title{
                font-size: 1rem;
                font-weight: bold;
                color: #999;
                margin: 15px 0px 5px 0px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background: #ece8ff;
                }
                .icon{
                    font-size: 18px;
                    color: #0081a7;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
        .colorOptions{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background: white;
            }
            &:nth-child(2){
                background: black;
            }
        }
    }
}